<div id="content">
  <div class="text-align-center">
    <img id="headshot" src="./assets/headshot.jpg" />
    <h1>Hi, I'm <span class="accent">John!</span></h1>
    <p>I'm a fullstack developer at Capital One.</p>
    <p>
      I speak at events, write blogs, and contribute to open source software.
    </p>
  </div>
  <div
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10%"
  >
    <!-- <div id="projectsSection" flex-order="1" flex-order.lt-md="2">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10%">
        <app-icon
          title="Angular"
          iconSrc="/assets/angular-brands.svg"
        ></app-icon>
        <app-icon title="iOS" iconSrc="/assets/apple-brands.svg"></app-icon>
        <app-icon title="Spring" iconSrc="/assets/leaf-solid.svg"></app-icon>
        <app-icon title="Node" iconSrc="/assets/node-js-brands.svg"></app-icon>
      </div>
    </div> -->
    <div id="projectsSection" flex-order="2" flex-order.lt-md="1">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10%" fxLayoutGap.lt-sm="5%">
        <a
          href="https://github.com/pulls?q=is%3Apr+author%3Ajtcrowson+archived%3Afalse+is%3Aclosed"
        >
          <app-icon
            title="OSS"
            iconSrc="./assets/github-square-brands.svg"
          ></app-icon>
        </a>
        <a href="https://medium.com/@jtcrowson">
          <app-icon title="Blog" iconSrc="./assets/medium-brands.svg"></app-icon>
        </a>
        <a href="https://twitter.com/john_crowson">
          <app-icon
            title="Twitter"
            iconSrc="./assets/twitter-square-brands.svg"
          ></app-icon>
        </a>
        <a href="https://www.linkedin.com/in/john-crowson-b9928452/>">
          <app-icon
            title="Linkedin"
            iconSrc="./assets/linkedin-brands.svg"
          ></app-icon>
        </a>
      </div>
    </div>
  </div>
</div>
